<meta charset="utf-8">
<meta name="application-name" content="Ultimate tic tac toe">
<meta name="description" content="Jogue o Ultimate Tic Tac Toe com um amigo ou contra o computador. Possui uma inteligência artificial rápida. Suporta a jogabilidade em vários dispositivos.">
<meta name="keywords" content="ultimate, tic, tac, toe, multiplayer, game, artificial, intelligence, computer">
<meta name="author" content="Los Hermanos">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Ultimate Tic Tac Toe</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../css/main.css">