<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<div class="container">
		<header>
			<% include ../partials/header %>
		</header>
		<main>
			<div class="jumbotron">
				<p>Já dominou o clássico jogo de X's e O's? Ultimate Tic Tac Toe é uma reviravolta divertida e estratégica no jogo que todos conhecemos e amamos. Aprimore suas habilidades contra a IA.</p>
				<p>
					<a class="btn btn-lg btn-primary" href="/rules" role="button">Conheça as regras »</a>
				</p>
			</div>
			<div class="row">
				<div class="col-md">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2 class="panel-title">Local Game</h2>
						</div>
						<div class="panel-body">
							<p>Jogue contra a <abbr title="artificial intelligence">IA</abbr> ou com um amigo usando o mesmo dispositivo.</p>
							<p>
								<a class="btn btn-default" href="/local-game" role="button">Iniciar</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<% include ../partials/footer %>
		</footer>
	</div>
	<% include ../partials/scripts %>
</body>
</html>
