<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<div class="container">
		<header>
			<% include ../partials/header %>
		</header>
		<main>
			<h1>As Regras</h1>
			<p>Pressupomos que você já saiba jogar o Tic Tac Toe comum.</p>
			<h2>O Tabuleiro</h2>
			<p>O tabuleiro do Ultimate Tic Tac Toe é composto por 9 pequenos quadros de tamanho regular, como mostrado abaixo. Cada quadro de tamanho regular tem 9 células. Vou me referir à localização desses quadros e células usando direções de bússola.</p>
			<div>
				<h3>Turno X's</h3>
				<img src="../img/empty-board.png" class="img-responsive">
			</div>
			<h2>Movimento</h2>
			<p>O jogador que vai primeiro consegue se mover em qualquer lugar do tabuleiro.</p>
			<div>
				<h3>Turno O's</h3>
				<img src="../img/first-move.png" class="img-responsive">
			</div>
			<p>Neste caso, X optou por se mover na célula superior noroeste de um dos quadros menores. Isso significa que no próximo turno, O é forçado a se mover no sentido noroeste. O quadro em que O é forçado a se mudar é delineada em azul-cinza.</p>
			<div>
				<h3>Turno X's</h3>
				<img src="../img/second-move.png" class="img-responsive">
			</div>
			<p>O decidiu se mover para a célula sul do quadro noroeste. Isso força X a se mover no quadro sul no próximo turno.</p>
			<div>
				<h3>Turno O's</h3>
				<img src="../img/third-move.png" class="img-responsive">
			</div>
			<p>Como X escolheu se mover na célula central do quadro, O agora tem que se mover no quadro central do tabuleiro.</p>
			<p>Bem, agora você tem o entendimento de como funciona o Ultimate Tic Tac Toe. Existem algumas estratégias interessantes que entram em jogo como resultado dessas regras. Vamos avançar um pouco! ;)</p>
			<div>
				<h3>Turno X's</h3>
				<img src="../img/strategy.png" class="img-responsive">
			</div>
			<p>Agora é o turno de X's na imagem abaixo. Parece tentatador mover-se na célula central, permitindo que seja completado o quadro leste.</p>
			<div>
				<h3>Turno O's</h3>
				<img src="../img/strategy-2.png" class="img-responsive">
			</div>
			<p>No entanto, fazê-lo fará com que O vá para o quadro central.</p>
			<div>
				<h3>Turno X's</h3>
				<img src="../img/strategy-3.png" class="img-responsive">
			</div>
			<p>Isso permitiria que O ganhe o quadro central, colocando X em uma clara desvantagem. Agora digamos que X deseja bloquear O movendo-se na célula central.</p>
			<div>
				<h3>Turno O's</h3>
				<img src="../img/strategy-4.png" class="img-responsive">
			</div>
			<p>Normalmente, O seria enviado para o quadro central depois que X moveu-se para a célula central. No entanto, como o quadro já foi ganho, O pode se mover para qualquer lugar do tabuleiro.</p>
			<h2>Vitória</h2>
			<p>O jogo é ganho, uma vez que um dos jogadores complete uma linha seja ela diagonal, horizontal ou vertical.</p>
			<div>
				<h3>O ganhou!</h3>
				<img src="../img/o-wins.png" class="img-responsive">
			</div>
		</main>
		<footer>
			<% include ../partials/footer %>
		</footer>
	</div>
	<% include ../partials/scripts %>
</body>
</html>